# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/

# dotenv
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
